<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Relay Console</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).marketplace-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>relayconsole</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>Used for agent avatar uploads</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to record voice input for chat messages</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used for message attachments</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Used to transcribe voice input into editable chat text</string>
	<key>RelayCloudProductID</key>
	<string>com.relayconsole.cloud.monthly</string>
	<key>RelayConsoleAPIBaseURL</key>
	<string>$(RELAY_CONSOLE_API_BASE_URL)</string>
	<key>RelayConsoleAvatarAssetBaseURL</key>
	<string>$(RELAY_CONSOLE_AVATAR_ASSET_BASE_URL)</string>
	<key>RelayConsoleWebAssetBaseURL</key>
	<string>$(RELAY_CONSOLE_WEB_ASSET_BASE_URL)</string>
	<key>RelayConsoleWebSocketBaseURL</key>
	<string>$(RELAY_CONSOLE_WEBSOCKET_BASE_URL)</string>
	<key>RelayPostHogHost</key>
	<string>$(POSTHOG_HOST)</string>
	<key>RelayPostHogProjectToken</key>
	<string>$(POSTHOG_PROJECT_TOKEN)</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SentryEnvironment</key>
	<string>$(SENTRY_ENVIRONMENT)</string>
	<key>SentryRelease</key>
	<string>$(SENTRY_RELEASE)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
